.SingleNavItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.SingleNavItem a{
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.SingleNavItem a:hover,
.SingleNavItem a:active,
.SingleNavItem a.active{
    color: #40A4C8;
}

@media (min-width: 500px){
    .SingleNavItem{
        margin: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: auto;
    }
    
    .SingleNavItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .SingleNavItem a:hover,
    .SingleNavItem a:active,
    .SingleNavItem a.active{
        background: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}
